body{
    text-align: center;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#board{
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
    border-bottom: 5px solid skyblue;
}
